*{
    margin: 0;
    box-sizing: border-box;
}

@media print {
    .no-print, .no-print *{
        display: none !important;
    }
}


body{
    display: flex;
    flex-direction: column;
    background: linear-gradient(to right, #e1a91c, #cbc2ab); 
}

.container{
    border-radius: 10px
}

.oculto{
    visibility: hidden;
}
