/*---------------------------Media Query 1480------------------------------*/
@media (max-width: 1480px) {

    body{
        padding: 0;
    }

    .layout{
        min-width: auto;
        width: 87%;
        margin-left: 7rem;
    }
    .card{
        width: 23.5rem;
    }


    .personal-info__photo{
        right: 2rem;
        height: 100%;

    }
    .pesonal-info__list{
        margin-top: 2rem;
    }

    .dark-light-mode_button:hover{
        padding-right: 2rem;
        justify-content: center;
    }

    .fa-moon,
    .fa-sun{
    left: -1.8rem;
    font-size: 3rem;
    color: var(--color-background);
    transition: color 300ms ease-in-out
    }
}


/*---------------------------Media Query 1400------------------------------*/
@media (max-width: 1400px){
    .card{
        width: 21.5rem;
    }
    .card-extra .front h4{
        font-size: 3.8rem;
    }

    form h2::after{
        width: 4rem;
        left: 25vw;
    }
}



/*---------------------------Media Query 1300------------------------------*/
@media (max-width: 1300px) {
    .layout{
        width: 86%;
        margin-left: 7rem;
    }
    .dark-light-mode_button{
        z-index: 1;
    }

    .card{
        width: 20rem;
    }

    .about__personal-info{
        position: relative;
        top: -5rem;
        flex-direction: column;
        align-items: center;
        flex-wrap: nowrap;
    }

    .personal-info__bio{
        display: flex;
        width: 100%;
    }

    .personal-info__description{
        width: 90%;
        margin: 0 1rem
    }
    .pesonal-info__list{
        width: 90%;
        margin: 0 1rem
    }
    .personal-info__title,
    .personal-info__value{
        margin: none;
    }

    .card{
        height: 40rem;
        width: 20rem;
    }

    form h2::after{
        left: 68%;
    }

    .personal-info__bio{
        flex-direction: row;
        top: 1rem;
    }
}


/*---------------------------Media Query 1230------------------------------*/
@media (max-width: 1230px){
    .card{
        width: 19rem;
    }

    .card-extra{
        height: 35rem;
    }

    .card-extra .front h4{
        font-size: 3.5rem;
    }

    .card-extra .back span{
        font-size: 12px;
    }
    .card-extra .back h4{
        font-size: 15px;
    }

    form h2::after{
        left: 69%;
    }

}

/*---------------------------Media Query 1160------------------------------*/
@media (max-width: 1160px){
    .layout{
        width: 85%;
    }
    .card{
        width: 18.5rem;
        height: 34rem;
    }
    .card-extra{
        margin: 0 0.3rem;
    }
    .image__container{
        padding-left: 75%;
        width: 100%;
    }

    form h2::after{
        left: 72%;
    }

    .enviando{
        position: absolute;
        right: 4rem;
    }
}




/*---------------------------Media Query 1060------------------------------*/

@media (max-width: 1060px){
    body{
        background-image: none;
        position:static;
    }


    .layout{
        width: 100%;
        height: 100%;
        margin: 0;
        border-radius: 0;

        grid-template-areas: 'content';
        grid-template-columns: 100%;
    }

    .layout__aside{
        display: none;
    }

    .layout__content{
        border-radius: 0;
        background-color: transparent;
        height: 100%;
    }

    .content__page,
    .dark .content__form{
        border-radius: 0;
        height: 100vh;
        background: url(../img/fondo.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: -1px -0px;
    }

    .dark .content__page{
        border: none;
    }

    .layout__menu{
        position: static;
    }

    .image__container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 0;
        padding-right: 0;
        padding-top: 70rem;
    }

    .card{
        position: relative;
        justify-content: center;
        width: 80rem;
        height: 20rem;
        margin-bottom: 2rem;
    }

    .card-img-meta,
    .card-img-coursera,
    .card-img-google,
    .card-img-poliglota,
    .card-img-DH,
    .card-img-ctd,
    .card-img-leones{
        position: absolute;
        width: 40%; /* Ajustamos el ancho al 100% para que ocupen todo el contenedor */
        height: 90%; /* Ajustamos la altura al 100% para que ocupen todo el contenedor */
        margin-left: 25%;
    }

    .card-img-coursera{
        top: -10%;
    }

    .card-img-meta{
        top: 20%;
    }

    .card-img-google{
        top: 45%;
        width: 40%;
        height: 50%;
    }

    .card-img-poliglota{
        top: 25%;
        width: 40%;
        height: 50%; 
    }


    .card-img-DH{
        display: none;
    }

    .card-img-ctd{
        top: 5%;
        left: 0;
        width: 50%;
    }

    .card-img-leones{
        top: 0;
        left: 8rem;
        width: 30%;
        height: 100%;
    }


    .content__form{
        display: flex;
        justify-content: center;
    }

    .form__container{
        justify-content: center;
        height: 80%;
        padding: 5rem;
        overflow: auto;
        border-radius: 2rem;
        background: linear-gradient(to right,#e96443, #cc6f58, #c89f94 );
        box-shadow: 10px 10px 50px -30px;
    }


    form{
        width: 90%;
    }

    form h2::after{
    content: "";
    position: absolute;
    top: 10%;
    left: 63%;
    z-index: -1;
    width: 10%;
    height: 5%;
    background-image: -webkit-repeating-radial-gradient(center center, #fff, #fff 1px, transparent 0px, transparent 100%);
    background-size: 0.6rem 0.6rem;
    opacity: 0.5;
    }

    .dark .form__container{
        background: linear-gradient(to right, #904e95, #e96443)
    }

    .dark .input__form input,
    .dark .input__form textarea{
        background: var(--color-text);
        color: var(--color-principal);
        border: none;
    }

    .dark .input__form input::placeholder,
    .dark .input__form textarea::placeholder{
        color: var(--color-background);
    }


    .form__container .enviando{
        top: 52rem;
        left: 12%;
    }
    .personal-info__bio{
        background: var(--color-title);
    }
}


/*---------------------------Media Query 900------------------------------*/
@media (max-width: 900px){
    .card{
        width: 70rem;
    }

    .enviando{
        top: 80%;
        left: 13%;
    }

    .dark-light-mode_button:hover {
        padding: 3rem 2.5rem; /* Mantener el padding fijo en la media query */
  
    }
}



/*---------------------------Media Query 800------------------------------*/
@media (max-width: 800px){
    .card{
        width: 60rem;
    }

    .card-img-coursera,
    .card-img-meta,
    .card-img-google,
    .card-img-poliglota,
    .card-img-ctd{
        left: -2rem;
        width: 55%;
    }

    .testimonials__testimonials{
        flex-basis: 100%;
    }


}


/*---------------------------Media Query 700------------------------------*/
@media (max-width: 700px){
    .card{
        width: 55rem;
    }

    .card-img-DH{
        display: block;
        top: -4rem;
        height: 60%;
    }

    .card-img-ctd{
        left: 1rem;
        top: 7.5rem;
        height: 60%;
        width: 50%;
    }
    


}



/*---------------------------Media Query 620------------------------------*/
@media (max-width: 620px){
    .card{
        width: 45rem;
    }

    .card-img-coursera{
        width: 50%;
        height: 70%;
        top: 0;
        left: 0;
    }

    .card-img-meta{
        width: 50%;
        height: 70%;
        top: 5rem;
        left:0;
    }

    .card-img-google{
        top: 45%;
        left: 0;
        width: 50%;
        height: 40%;
    }

    .card-img-poliglota{
        top: 27%;
        left: -3rem;
        width: 60%;
        height: 40%; 
    }


    .card-img-DH{
        display: block;
        height: 60%;
        width: 50%;
        top: -3rem;
        left: 0;
    }

    .card-img-ctd{
        top: 9rem;
        left: 0;
        width: 50%;
        height: 50%;
        left: 0;
    }

    .card-img-leones{
        top: 0;
        left: 0rem;
        width: 50%;
        height: 100%;
    }
}

/*---------------------------Media Query 520------------------------------*/
@media (max-width: 520px){
    .card{
        width: 40rem;
        margin: 2rem 5rem;
    }

    .card-img-coursera{
        width: 50%;
        height: 55%;
        top: 2rem;
        left: 0;
    }

    .card-img-meta{
        width: 50%;
        height: 55%;
        top: 6rem;
    }

    .card-img-google{
        height: 30%;
    }

    .card-img-poliglota{
        top: 6rem;
        left: -2rem;
        width: 60%;
        height: 35%; 
    }


    .card-img-DH{
        height: 50%;
        width: 50%;
        top: -1rem;
        left: 0;
    }

    .card-img-ctd{
        top: 9rem;
        left: 0;
        width: 60%;
        height: 50%;
        left: -2rem;
    }
}